<div class="login-container bg-light">
  <div class="login-box">
    <div class="row">
      <span class="material-icons">point_of_sale</span>
      <h1 translate>APP_NAME</h1>
    </div>
    <div>
      <h6 class="d-inline-block">v{{ version }}</h6>
      <div class="d-inline-block ml-3">
        <app-language-selector></app-language-selector>
      </div>
    </div>
    <div class="container">
      <mat-card class="card-login">
        <mat-card-content class="card-content">
          <!-- <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
          <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
            Username or password incorrect.
          </div>

          
          <div class="form-group">
            <label class="d-block">
              <input
                type="text"
                class="form-control"
                formControlName="username"
                autocomplete="username"
                [placeholder]="'Username' | translate"
              />
              <span hidden translate>Username</span>
              <small
                [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"
                class="text-danger"
                translate
              >
                Username is required
              </small>
            </label>
            <label class="d-block">
              <input
                type="password"
                class="form-control"
                formControlName="password"
                autocomplete="current-password"
                [placeholder]="'Password' | translate"
                required
              />
              <span hidden translate>Password</span>
              <small
                [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
                class="text-danger"
                translate
              >
                Password is required
              </small>
            </label>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="remember" />
                <span translate>Remember me</span>
              </label>
            </div>
          </div>
          <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid || isLoading">
            <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
            <span translate>Login</span>
          </button>
        </form> -->

          <form class="example-form" (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                translate
                type="email"
                matInput
                formControlName="emailFormControl"
                [errorStateMatcher]="matcher"
                placeholder="Ex. exemplo@email.com"
              />
              <mat-hint>Digite seu e-mail</mat-hint>

              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Insira um e-mail válido
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                O e-mail é <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Senha</mat-label>
              <input
                translate
                [type]="hidePassword ? 'password' : 'text'"
                matInput
                formControlName="passwordFormControl"
                [errorStateMatcher]="matcher"
              />
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Mostrar a senha'"
                [attr.aria-pressed]="hidePassword"
              >
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-hint>Digite sua senha</mat-hint>

              <mat-error *ngIf="passwordFormControl.hasError('required')">
                A senha é <strong>obrigatória</strong>
              </mat-error>
            </mat-form-field>

            <button mat-button type="submit" color="primary" [disabled]="!loginForm.valid">
              <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
              <span translate>Entrar</span>
            </button>
            <button mat-button type="button" (click)="createUser()">Cadastre-se</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
