<div class="user-container bg-light">
  <div class="user-box">
    <div class="row">
      <h1 color="primary">{{ title }}</h1>
    </div>
    <div class="container">
      <mat-card class="card-registration">
        <mat-card-content class="card-content">
          <form class="user-form" [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
            <mat-form-field class="user-form-group">
              <mat-label>Email</mat-label>
              <input
                translate
                type="email"
                matInput
                formControlName="email"
                [errorStateMatcher]="matcher"
                placeholder="Ex. exemplo@email.com.com"
              />
              <mat-hint>Digite seu e-mail</mat-hint>

              <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                Insira um e-mail válido
              </mat-error>
              <mat-error *ngIf="email.hasError('required')"> O e-mail é <strong>obrigatório</strong> </mat-error>
            </mat-form-field>

            <mat-form-field class="user-form-group">
              <mat-label>Senha</mat-label>
              <input
                translate
                [type]="hidePassword ? 'password' : 'text'"
                matInput
                formControlName="password"
                [errorStateMatcher]="matcher"
              />
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Mostrar a senha'"
                [attr.aria-pressed]="hidePassword"
              >
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-hint>Digite a sua senha</mat-hint>

              <mat-error *ngIf="password.hasError('required')"> A senha é <strong>obrigatória</strong> </mat-error>
            </mat-form-field>

            <mat-form-field class="user-form-group">
              <mat-label>Confirmar senha</mat-label>
              <input
                translate
                [type]="hideConfirmation ? 'password' : 'text'"
                matInput
                formControlName="confirmPassword"
                [errorStateMatcher]="matcher"
              />
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="hideConfirmation = !hideConfirmation"
                [attr.aria-label]="'Mostrar a senha'"
                [attr.aria-pressed]="hideConfirmation"
              >
                <mat-icon>{{ hideConfirmation ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-hint>Digite novamente a sua senha</mat-hint>

              <mat-error *ngIf="confirmPassword.hasError('required')">
                A confirmação senha é <strong>obrigatória</strong>
              </mat-error>
            </mat-form-field>

            <div class="radio-profile">
              <div><label>Selecione o perfil da conta: </label></div>
              <mat-radio-group formControlName="profileId">
                <mat-radio-button value="1" [checked]="selectedAdm">Administrador</mat-radio-button>
                <mat-radio-button value="2" [checked]="!selectedAdm">Funcionário</mat-radio-button>
              </mat-radio-group>
            </div>

            <button mat-button type="submit" color="primary" [disabled]="!userForm.valid">Salvar</button>
            <button mat-button type="button" (click)="cancel()">Cancelar</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
