<header class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <a class="nav-item nav-link text-uppercase" type="button" (click)="drawer.toggle()" routerLinkActive="active">
      <span class="material-icons">menu</span>
    </a>
    <h1 translate>APP_NAME</h1>

    <div class="navbar-nav ml-auto">
      <div class="nav-item" ngbDropdown>
        <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
          <i class="fas fa-user-circle"></i>
        </a>
        <div ngbDropdownMenu aria-labelledby="user-dropdown" class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header">
            <span translate>Usuário: </span> <b>{{ username }}</b>
          </div>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="logout()" translate>Sair</button>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav-drawer" mode="over">
      <mat-expansion-panel class="menu-flex">
        <mat-expansion-panel-header>
          <a class="nav-item nav-link text-uppercase" type="button"> Contas </a>
        </mat-expansion-panel-header>

        <a class="nav-item nav-link text-uppercase" type="button"> Visualizar </a>

        <a class="nav-item nav-link text-uppercase" type="button"> Criar </a>
      </mat-expansion-panel>

      <mat-expansion-panel class="menu-flex">
        <mat-expansion-panel-header>
          <a class="nav-item nav-link text-uppercase" type="button"> Pedidos </a>
        </mat-expansion-panel-header>

        <a class="nav-item nav-link text-uppercase" type="button" [routerLink]="['/order-list']"> Visualizar </a>

        <a class="nav-item nav-link text-uppercase" type="button"> Criar </a>
      </mat-expansion-panel>

      <mat-expansion-panel class="menu-flex">
        <mat-expansion-panel-header>
          <a class="nav-item nav-link text-uppercase" type="button"> Produtos </a>
        </mat-expansion-panel-header>

        <a class="nav-item nav-link text-uppercase" type="button" [routerLink]="['/product-list']"> Visualizar </a>

        <a class="nav-item nav-link text-uppercase" type="button" [routerLink]="['/product-form']"> Criar </a>
      </mat-expansion-panel>
    </mat-drawer>
  </mat-drawer-container>
</header>
